/* BOTTOM PLAYER SECTION*/
#cardPlaying {
  background-color: transparent;
}
.bg-container {
  height: 5.5rem;
  background-color: #282828;
}

.playerControls .row {
  justify-content: space-between;
}

.playerControls a img {
  width: 14px;
  margin-top: 1rem;
  filter: brightness(60%);
  margin-inline: -6px;
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

.progress {
  color: white;
  background-color: #414141;
  height: 3px;
}

.playBar p {
  margin-bottom: 20px;
  color: white;
}

.playerControls .row a {
  display: inline-block;
  width: 14px;
}

/* POSIZIONAMENTO CARD SUL PLAYER */
.song-card {
  right: 0;
  top: 0;
  width: 100%;
}

.card-title,
.card-text {
  display: none;
}

@media (min-width: 768px) {
  .song-card {
    right: 110px;
  }
  .card-title,
  .card-text {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1380px) {
  .song-card {
    left: -8%;
  }
  .card-title,
  .card-text {
    display: block;
  }
}

@media (min-width: 950px) {
  .song-card {
    right: 300px;
  }
  .card-title,
  .card-text {
    display: block;
  }
}

@media (min-width: 1400px) {
  .song-card {
    right: 25%;
  }
  .card-title,
  .card-text {
    display: block;
  }
}
